/*
    ==============
    GENERAL DESIGN
    ==============
*/

/* WEBSITE HEADER */
#website_header {

}

#website_header_logo {
    width: 200px;
    height: 120px;
}

#website_header_logo img {
    width: 50%;
    height: auto;
}
/* WEBSITE SIDEBAR */
#website_left_sidebar {
    /* CREDIT: https://unsplash.com/@patresinger */
    background-image: url("https://itmd-362-jreginaldo.github.io/project1/assets/images/sidebar/patrick-langwallner.jpg");
}

/* WEBSITE FORM */

/*
    ====================
    MEDIA SCREEN QUERIES
    ====================
*/

/* MOBILE PORTRAIT */
@media only screen
and (max-device-width: 390px)
and (max-device-height: 844px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    #website_header {
        display: none;
    }

    #website_left_sidebar {
        display: none;
    }
}

/* TABLET */
@media only screen
and (min-device-width: 1180px)
and (min-device-height: 820px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    #website_header {
        display: block;
    }

    #website_left_sidebar {
        display: block;
    }
}