/*
    ==============
    GENERAL DESIGN
    ==============
*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito-Black;
    src: url("../assets/fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: Nunito-Bold;
    src: url("../assets/fonts/Nunito/static/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito-Regular;
    src: url("../assets/fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/fonts/PT_Sans/PTSans-Regular.ttf");
}

/* ===== CREATE SIDE-BY-SIDE COLUMN ===== */
.column {
    float: left;
}

#website_left_sidebar {
    width: 40%;
}

#website_form_content {
    width: 50%;
    padding-left: 5%;
    padding-top: .5%;
}

/* ===== WEBSITE LEFT SIDEBAR ===== */
#website_left_sidebar {
    position: relative;
}

#website_left_header {
    box-sizing: border-box;
    font-family: Nunito-Black, Verdana, serif;
    position: absolute;
    top: 12%;
    left: 18%;
    max-width: 50%;
}

#header_number {
    font-size: 300%;
}

#header_sub_text {
    font-size: 150%;
}

/* ===== WEBSITE FORM ===== */
#header_logo_container {
    max-width: 65%;
}

#header_logo {
    width: 45%;
}

#website_form_header ul {
    margin-top: 2.5%;
}

#list_register_header {
    font-family: Nunito-Black, Verdana, serif;
    font-size: 300%;
    max-width: 65%;
}

#list_register_desc {
    font-family: Nunito-Bold, Verdana, serif;
    font-size: 130%;
    margin-top: 1%;
    margin-bottom: 7%;
    max-width: 65%;
}

#list_register_get_info {
    font-family: "PT Sans", Verdana, serif;
    margin-bottom: 15px;
    font-size: 120%;
    max-width: 65%;
}

/* ===== WEBSITE FORM CONTENTS ===== */
#website_form_inputs {
    font-family: "PT Sans", Verdana, serif;
}

#website_form_inputs { /* Create 2 columns of input */
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 40%;
    grid-row-gap: 15px;
}

.text_input {
    width: 185%;
}

#show_pass_box_container {
    margin-bottom: 10%;
}

.input_full_width {
    grid-column: 1/3;
}

.checkbox_input { /* Align text next to checkbox */
    display: flex;
    align-items: center;
}

.checkbox_input label {
    padding-left: 5px;
}

#submit_button label button {
    cursor: pointer;
    width: 130%;
    height: 125%;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    font-family: Nunito-Bold, Verdana, serif;
    padding: 10px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*
    ====================
    MEDIA SCREEN QUERIES
    ====================
*/
@media only screen
and (max-width: 900px) {
    /* ===== WEBSITE LEFT SIDE BAR ===== */
    #website_left_sidebar {
        display: none;
    }

    /* ===== CREATE SIDE-BY-SIDE COLUMN ===== */
    .column {
        float: left;
    }

    #website_left_sidebar {
        width: 0;
    }

    #website_form_content {
        width: 90%;
        padding-left: 3%;
        padding-top: .5%;
    }

    /* ===== WEBSITE FORM ===== */
    #header_logo {
        width: 90%;
        padding-top: 1.5%;
    }

    #website_form_header ul {
        margin-top: 1.5%;
    }

    #list_register_header {
        font-family: Nunito-Black, Verdana, serif;
        font-size: 300%;
    }

    #list_register_desc {
        font-family: Nunito-Bold, Verdana, serif;
        font-size: 130%;
        margin-top: 1%;
        margin-bottom: 5%;
        max-width: 100%;
    }

    #list_register_get_info {
        font-family: "PT Sans", Verdana, serif;
        margin-bottom: 15px;
        font-size: 120%;
        max-width: 100%;
    }

    #form {
        width: 150%;
        grid-row-gap: 10px;
    }

    #show_pass_box_container {
        margin-bottom: 5%;
    }

    #submit_button label button {
        width: 130%;
        height: 125%;
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        font-family: Nunito-Bold, Verdana, serif;
        padding: 5px 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media only screen
and (min-width: 901px) {
    /* ===== WEBSITE LEFT SIDE BAR ===== */
    #website_left_sidebar img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        border-radius: 75px;
        margin-top: .5%;
        padding-top: .25%;
    }

    /* ===== WEBSITE FORM ===== */
}