/*
    ==============
    GENERAL DESIGN
    ==============
*/
@font-face {
    font-family: Nunito-Black;
    src: url("../project1/assets/fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: Nunito-Bold;
    src: url("../project1/assets/fonts/Nunito/static/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito-Regular;
    src: url("../project1/assets/fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("../project1/assets/fonts/PT_Sans/PTSans-Regular.ttf");
}

/* WEBSITE HEADER */
#website_header {
    box-sizing: border-box;
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
}


#website_header_logo {
    width: 200px;
    height: 100px;
}

#website_header_logo img {
    width: 50%;
    height: auto;
}

/* CREATE SIDE-BY-SIDE COLUMN */
.column {
    float: left;
}

#website_left_sidebar {
    width: 30%;
}

#website_form_content {
    width: 60%;
}

/* WEBSITE SIDEBAR */
#website_left_header {
    box-sizing: border-box;
    font-family: Nunito-Black, serif;
}

#website_left_sidebar {
    height: 100%;
    padding-right: 50px;
}

#website_left_bg img {
    width: 100%;
    height: 100%;
}

/* WEBSITE FORM */
#website_form_content {
    box-sizing: border-box;
}

#list_register_header {
    font-family: Nunito-Bold, serif;
}

#list_register_desc {
    font-family: "PT Sans", serif;
}

#list_register_info {
    font-family: "PT Sans", serif;
}

#website_form_inputs {
    font-family: "PT Sans", serif;
}
/*
    ====================
    MEDIA SCREEN QUERIES
    ====================
*/

/* MOBILE PORTRAIT */
@media only screen
and (max-device-width: 390px)
and (max-device-height: 844px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    #website_header {
        display: none;
    }

    #website_left_sidebar {
        display: none;
    }
}

/* TABLET */
@media only screen
and (min-device-width: 1180px)
and (min-device-height: 820px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    #website_header {
        display: block;
    }

    #website_left_sidebar {
        display: block;
    }
}